<div id="comment-<%=comment.id%>" class="container">
    <hr>
    <p id="commentContent"><%=comment.content%></p>
    <p id="author"><%="-#{comment.user.email}"%></p>
    <div class="btn-group">
        <%if policy(comment).update?%>
            <button type="button" data-toggle="modal" data-target="#editComment" class="btn btn-primary js-edit">Edit</button>
        <%end%>
        <% if policy(comment).destroy?%>
            <%if comment.id%>
                <%= button_to  "Delete", comment, method: :delete, id: comment.id, class: "btn btn-secondary js-delete" %>
            <% else %>
                <%= form_tag '/comments/', method: :delete  do |f| %>
                    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                    <%= submit_tag "Delete", class:"btn btn-secondary js-delete"%>
                <% end %>
            <% end %>
        <%end%>
    </div >
</div>