<div class="container">
  <br>
  <div class="row justify-content-center">
  <div class="col-md-8">
      <%= form_tag(recipes_path, method: :get) do %>
        <%= text_field_tag :search_query, "", class: "form-control", placeholder: "Recipe Name" %>
        <br>
          <%= check_box_tag("is_liked", true, false, class:"checkbox-inline")  %>
          <%=h 'Display only liked recipes' %>
        <br>
        <br>
        <%= label_tag "Order by:"%>
        <br>
        <%= label_tag "Likes"%>
        <%= radio_button_tag :order, "by_likes" %>
        <%= label_tag "Most recent"%>
        <%= radio_button_tag :order, "most_recent" %>
        <br>
        <%= label_tag "Choose Recipe Categories:"%>
        <% Category.all.each do |category| %>
          <!-- using names instead of ids is desired for better URL clarity -->
          <br>
          <%= check_box_tag("by_categories[]", category.name, false, class:"checkbox-inline")  %>
          <%=h category.name %>
        <% end %>
        <br>
  
        <br>
        <%= submit_tag 'Search', class: "btn btn-primary" %>
      <% end %>
  </div>
  
  </div>
</div>
