<div class="container">
    <div class='row justify-content-md-center' >
        <div class="col-md-8">
            <div class="container">
                <h2><%=@recipe.title%></h2>
                <% if policy(@recipe).destroy?%>
                    <%= button_to  "Delete", user_recipe_path(@recipe), method: :delete %>
                <% end %>
                <% if policy(@recipe).update?%>
                    <%= button_to  "Edit", edit_user_recipe_path(@recipe), method: :get  %>
                <% end %>
                    <% if @like.persisted? %>
                        <%= form_for(@like, method: :delete) do |f| %>
                            <%= f.submit "Unlike", class: 'btn btn-primary' %>
                        <% end %>
                        <% else %>
                            <%= form_for(@like) do |f| %>
                            <%= f.hidden_field :recipe_id, value: "#{@recipe.id}" %>
                            <%= f.submit"Like", class: 'btn btn-primary' %>
                        <% end %>
                    <% end %>
                <h3>Macronutrients per Serving</h3>
                <h4>Serves <%=@recipe.servings%></h4>
                <ul>
                    <li><strong>Calories: </strong><%=@recipe.calories / @recipe.servings%></li>
                    <li><strong>Fats: </strong><%=@recipe.fat / @recipe.servings%></li>
                    <li><strong>Protein: </strong><%=@recipe.protein / @recipe.servings%></li>
                    <li><strong>Carbohydrates: </strong><%=@recipe.carbs / @recipe.servings%></li>
                    <li><strong>Fiber: </strong><%=@recipe.fiber / @recipe.servings%></li>
                </ul>
            </div>
        </div>
        <div class="col-md-8">
            <h3>Categories</h3>
            <%@recipe.categories.each do |category|%>
                <%= category.name %>
            <%end%>
        </div>
        <div class="col-md-8">
            <h3>Ingredients</h3>
            <ul>
                <%@recipe.recipe_ingredients.each do |recipe_ingredient|%>
                    <li><%=recipe_ingredient.amount%> <%=recipe_ingredient.name%></li>
                <%end%>
            </ul>
        </div>
        <div class="col-md-8">
            <h3>Directions</h3>
            <%=simple_format(@recipe.description)%>
        </div>
    </div>
    <div>
        <!-- Shows the ingredients that the user is missing -->
        <!-- update this with helper methods that automatically call current user  -->
        <h3>You are missing <%=@recipe.missing_ingredients(current_user).size%> ingredients</h3>
        <p><%=@recipe.missing_ingredient_names(current_user)%></p>
    </div>
</div class>

<div class="container col-md-8 content-box">
	<!-- these are all the comments -->
	<div>
		<h4 style="display: inline;">Comments</h4> <button type="button" data-toggle="modal" data-target="#leaveComment" style="display: inline;" class="btn btn-primary pull-right">Post a Comment</button>
	</div>

    <br>

	<%@recipe.comments.each do |comment|%>
		<div class="container">
			<p><%=comment.content%></p>
            <p><%="-#{comment.user.email} #{comment.created_at.localtime}"%></p>
            <% if policy(comment).destroy?%>
                <%= button_to  "Delete", comment, method: :delete %>
            <%end%>
            <%if policy(comment).update?%>
                <button type="button" data-toggle="modal" data-target="#editComment" style="display: inline;" class="btn btn-primary">Edit</button>
            <%end%>
            <%=bootstrap_modal("editComment"){ form_for comment do |f| %>
                <%= f.label :content, "Edit Comment"%>
                <br>
                <%= f.text_area :content, class:"form-control", rows: 3 %>
                <br>
                <%= f.submit "Update"%>
            <% end }%>
		</div>
		<hr>
	<%end%>
</div>
<br>


<!-- Create new comment area-->

<%=bootstrap_modal("leaveComment"){ form_for @comment, url: create_recipe_comment_path(@recipe) do |f| %>
    <%= f.label :content, "New Comment"%> <br>
    <%= f.text_area :content, class:"form-control", rows: 3 %> <br>
    <%= f.submit%>
<% end }%>

<!-- edit comment here -->

