<div class='row justify-content-md-center' >
    <div class="col-md-8">
        <div class="container">
            <h2><%=@recipe.title%></h2>
            <h3>Macronutrients per Serving</h3>
            <ul>
                <li><strong>Calories: </strong><%=@recipe.calories / @recipe.servings%></li>
                <li><strong>Fats: </strong><%=@recipe.fat / @recipe.servings%></li>
                <li><strong>Protein: </strong><%=@recipe.protein / @recipe.servings%></li>
                <li><strong>Carbohydrates: </strong><%=@recipe.carbs / @recipe.servings%></li>
                <li><strong>Fiber: </strong><%=@recipe.fiber / @recipe.servings%></li>
            </ul>
        </div>
    </div>
</div>