<br>

    <div class="container">

        <div class='row justify-content-center' >
            <div class="col-md-10 content-box">
                
                <div class="container">
                    <div class="row">
                        <div class="col-10">
                            <h2 id="recipeTitle"><%=@recipe.title%></h2>
                        </div>
                        <div id="adminFeatures" class="btn-group col-2">
                            <% if policy(@recipe).update?%>
                                <%= button_to  "Edit", edit_user_recipe_path(@recipe), method: :get, class: "btn btn-primary"  %>
                            <% end %>
                            <% if policy(@recipe).destroy?%>
                                <%= button_to  "Delete", user_recipe_path(@recipe), method: :delete, class: "btn btn-secondary" %>
                            <% end %>
                        </div>
                    </div>
                    <div class="container">
                        <br>
                        <%= image_tag  "#{@recipe.image}", style: "width:100%;", id:"recipePicture" %>
                        <br>
                    </div>
                    <br>
                    <div class="container">
                        <% if @like.persisted? %>
                            <%= form_for(@like, method: :delete) do |f| %>
                                <%= f.submit "Unlike", class: 'btn btn-primary' %>
                            <% end %>
                            <% else %>
                                <%= form_for(@like) do |f| %>
                                <%= f.hidden_field :recipe_id, value: "#{@recipe.id}" %>
                                <%= f.submit"Like", class: 'btn btn-primary' %>
                            <% end %>
                        <% end %>
                    </div>
                    <hr>
                    <h3>Macronutrients per Serving</h3>
                    <h4 id="recipeServings">Serves <%=@recipe.servings%></h4>
                    <ul>
                        <li id="recipeCalories"><strong>Calories: </strong><%=@recipe.calories / @recipe.servings%></li>
                        <li id="recipeFat"><strong>Fats: </strong><%=@recipe.fat / @recipe.servings%></li>
                        <li id="recipeProtein"><strong>Protein: </strong><%=@recipe.protein / @recipe.servings%></li>
                        <li id="recipeCarbs"><strong>Carbohydrates: </strong><%=@recipe.carbs / @recipe.servings%></li>
                        <li id="recipeFiber"><strong>Fiber: </strong><%=@recipe.fiber / @recipe.servings%></li>
                    </ul>
                    <hr>
                </div>
            </div>
            <div class="col-md-10 content-box">
                <div class="container">
                    <h3>Categories</h3>
                    <p id="recipeCategories" ><%=@recipe.categories_names.to_sentence%></p>
                    <hr>
                </div>
            </div>
            <div class="col-md-10 content-box">
                <div class="container">
                    <h3>Ingredients</h3>
                    <ul id="recipeIngredients">
                        <br>
                        <%@recipe.recipe_ingredients.each do |recipe_ingredient|%>
                            <li><%=recipe_ingredient.amount%> <%=recipe_ingredient.name%></li>
                        <%end%>
                    </ul>
                    <hr>
                </div>
            </div>

            <div class="col-md-10 content-box">
                <div class="container">
                    <h3>Directions</h3>
                    <br>
                    <div id="recipeDescription">
                        <%=simple_format(@recipe.description)%>
                        <hr>
                    </div>
                </div>
            </div>

    <%if @recipe.missing_ingredients(current_user) %>
        <div class="col-md-10 content-box">
            <div class="container">
                <!-- Shows the ingredients that the user is missing -->
                <!--To get this working, we can make a POST route /missing_ingredients,
                takes the current user ID and the recipe ID. It will return a list of missing ingredients. -->
                <h4 id="missingCount">You are missing
                    <%=@recipe.missing_ingredients(current_user).size%> ingredients</h4>
                <p>
                    <br>
                    <div id="missingIngredients"><%=@recipe.missing_ingredient_names(current_user)%></div>
                    <hr>
                </p>
            </div>
        </div>
    <%end%>
    <br>
    <div class="col-md-10 content-box">
        <div class="container">
        	<!-- these are all the comments -->
            <div class="row">
            	<div class="col-10">
            		<h4 style="display: inline;">Comments</h4>
                </div>
                <div class="col-2">
                    <button type="button" data-toggle="modal" data-target="#leaveComment" style="display: inline;" class="btn btn-primary pull-right">Post a Comment</button>
                </div>
            </div>
        <div id="commentsBox">
            <%=render(@comments)%>
        </div>
        </div>
        <br>
        
        </div>
                
            <div class="col-md-10">
                <div class="container">
                    <br>
                    <div class="row justify-content-center">
                        <div class="col-md-1 mr-auto">
                            <%= link_to  material_icon.navigate_before.md_36, "#", id: "prevRecipe"%>
                        </div>
                        <div class="col-md-4 mx-auto text-center">
                            <h5>View more
                                <%=@recipe.categories.first.name%> recipes</h5>
                        </div>
                        <div class="ml-auto col-md-1">
                            <%= link_to  material_icon.navigate_next.md_36, "#", id: "nextRecipe"%>
                        </div>
                    </div>
                </div>
            </div>
    </div>

    </div>
   
    <br>
<!-- Create new comment area-->

<%=bootstrap_modal("leaveComment"){ form_for @comment, url: create_recipe_comment_path(@recipe) do |f| %>
    <%= f.label :content, "New Comment"%> <br>
    <%= f.text_area :content, class:"form-control", rows: 3 %> <br>
    <%= f.submit%>
<% end }%>

<!-- edit comment here -->

<%= render partial: "comments/edit_comment" %>

<!-- loading view scripts here -->

<script>
    <%= render partial: "jscomments",
              formats: [:js],
              locals: {time_now: Time.now}
          %>
</script>

<script>
    <%= render partial: "jsrecipe",
        formats: [:js],
            locals: { time_now: Time.now }
          %>
</script>