<br>
<div class="container">
  <div class="row justify-content-center vertical-tweak">
    <div class="col-md-6 content-box my-auto", >
      <h2 style="text-align:center;">Forgot your password?</h2>
      <br>
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= devise_error_messages! %>
        <div class="row justify-content-center">
          <div class="col-md-8">
            <div class="field">
              <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Email address" %>
            </div>
            <br>
            <div class="actions">
              <%= f.submit "Reset password", class: "btn btn-primary btn-block" %>
            </div>
            <div style="text-align:center;"><%= render "devise/shared/links" %></div>
          </div>
        </div>

      <% end %>

      
    </div>
  </div>
</div>
