<div class="container">
<h3>Nutrition Facts</h3>
<hr>
<div class="container">
  <%= form_for @pantry, url: user_pantry_update_path do |f| %>
  <% if @pantry.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@pantry.errors.count, "error") %> prohibited your pantry from being updated:</h2>
  
      <ul>
        <% @pantry.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
          <% end %>
      </ul>
    </div>
    <% end %>
    <%= f.fields_for :ingredients do |t| %>
    <% next unless t.object.id.nil? #only shows new pantry ingredients %> 
    <div><p>Ingredient Name<%= t.text_field :name %></p></div>
    <hr>

    <%end%>
  <%= f.submit "Create Ingredient"%>

  <% end %>
</div>
</div>