<br>
<div class="container">
  <div class="row justify-content-center vertical-tweak">
    <div class="col-md-6 content-box my-auto">
      <h2 style= "text-align: center;">Log in</h2>
        <br>
        <div class="field row justify-content-center">
          <div class="col-8">
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="field">
                <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Email" %>
              </div>
              <br>
              <div class="field">
                <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password" %>
              </div>
              <br>

              <div class="actions">
                <%= f.submit "Log in", class: "btn btn-primary btn-block" %>
              </div>
              <br>
              <% if devise_mapping.rememberable? -%>
                <div class="field">
                  <%= f.check_box :remember_me %>
                  <%= f.label :remember_me %>
                </div>
              <% end -%>
            <% end %>

            <div style= "text-align:center"><%= render "devise/shared/links" %></div>
          </div>
        </div>
    </div>
  </div>
</div>