<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
<div class="container">
    <a class="navbar-brand pull-lg-right" href="/">Keto Tonight</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarColor01">
        <div class="navbar-nav mr-auto">
            <li class="nav-item" ><%= link_to  "Breakfast", category_path(breakfast_category), class: "nav-link" %></li>
            <li class="nav-item" ><%= link_to  "Lunch", category_path(lunch_category), class: "nav-link" %></li>
            <li class="nav-item" ><%= link_to  "Dinner", category_path(dinner_category), class: "nav-link" %></li>
        </div>
        <%if !current_user%>
          <ul class=""navbar-nav mr-auto"">
            <li class="nav-item" ><%= link_to  "Sign in", new_user_session_path, class:'nav-link' %></li>
            <li class="nav-item" ><%= link_to  "Sign up", new_user_registration_path, class: 'nav-link' %></li>
          </ul>
        <% else %>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item" ><%= link_to  material_icon.search.md_36, search_path, class: 'nav-link' %></li>
          <li class="nav-item dropdown">
            <a class="nav-link" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              <%= material_icon.account_circle.md_36%>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <%= link_to  "New Recipe", new_user_recipe_path(current_user), class: 'dropdown-item' %>
              <%= link_to  "Your Recipes", user_recipes_path(current_user), class: 'dropdown-item' %>
              <%= link_to  "Sign out", destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
              <%= link_to  "Your pantry", user_pantry_path(current_user), class: 'dropdown-item' %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
</div>
</nav>