<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="/">Keto Tonight</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <%if !current_user%>
        <li><%= link_to  "Sign in", new_user_session_path, class:'nav-link' %></li>
        <li><%= link_to  "Sign up", new_user_registration_path, class: 'nav-link' %></li>
      <% else %>
        <li><%= link_to  "New Recipe", new_user_recipe_path(current_user), class: 'nav-link' %></li>
        <li><%= link_to  "Your Recipes", user_recipes_path(current_user), class: 'nav-link' %></li>
        <li><%= link_to  "Sign out", destroy_user_session_path, method: :delete, class: 'nav-link' %></li>
        <li><%= link_to  "Your pantry", user_pantry_path(current_user), class: 'nav-link' %></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Recipe Categories
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <%= link_to  "Breakfast", categories_path(1), class: "dropdown-item" %>
            <%= link_to  "Lunch", categories_path(2), class: "dropdown-item" %>
            <%= link_to  "Dinner", categories_path(3), class: "dropdown-item" %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</nav>