<!DOCTYPE html>
<html>
  <head>
    <title>KetoTonight</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

<%if current_page?('/')%>
<body>
  <%= stylesheet_link_tag    'static', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= yield %>
</body>
<%else%>
    <body>
<div class="page-wrap">
  <%= content_tag(:div, flash[:error], :id => "flash_error") if flash[:error] %>
  <%= content_tag(:div, flash[:notice], :id => "flash_notice") if flash[:notice] %>
  <%= content_tag(:div, flash[:alert], :id => "flash_alert") if flash[:alert] %>
  <%= render  "layouts/navbar" %>
  <%= yield %>
</div class="page-wrap">
<div class="footer-wrap">
          <footer>
            <%= render  "layouts/footer" %>
          </footer>
</div>
    </body>

<%end%>

</html>
