<!DOCTYPE html>
<html>
  <head>
    <title>KetoTonight</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

<%if current_page?('/')%>
<body>
  <%= stylesheet_link_tag    'static', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= render "layouts/flash" %>
  <%= yield %>
</body>
<%else%>
  <body>
    <div class="page-wrap">
      <%= render "layouts/flash" %>
      <%= render "layouts/navbar" %>
      <%= yield %>
    </div class="page-wrap">
    <div class="footer-wrap">
      <footer>
        <%= render  "layouts/footer" %>
      </footer>
    </div>
  </body>

<%end%>

</html>
